---
const { title, url, description, pubDate, author, image } = Astro.props;
---

<a href={url} title={title} aria-label={description} class="group"
  ><article class="h-full flex-1">
    <div class="w-full block lg:col-span-2">
      <img
        class="h-full object-cover aspect-[384/246] bg-center"
        src={image}
        alt={title}
      />
    </div>
    <div class="w-full flex flex-col items-start justify-between -mt-20 p-4">
      <div
        class="w-full p-4 lg:p-8 bg-wood-100 h-full flex flex-col justify-between text-balance"
      >
        <div>
          <p class="font-medium text-black uppercase text-xl font-serif">
            {title}
          </p>
          <p class="text-slate-600 line-clamp-2 mt-12 text-sm">
            {description}
          </p>
        </div>
      </div>
    </div>
  </article></a
>
