---
const { title, url, description, image } = Astro.props;
---

<a href={url} title={title} aria-label={description}>
  <div class="flex flex-col items-center gap-4 text-center">
    <img
      class="object-cover w-16 h-16 rounded-full lg:h-20 lg:w-20"
      src={image}
      alt={title}
    />
    <span class="text-lg font-semibold leading-6 text-black font-serif">
      {title}
    </span>
  </div>
</a>
